# Хост приложения
APP_HOST=bitrix.docker.local

# Путь к приложению внутри контейнера
APP_PATH=/pub/www/app

# Доступы для СУБД
DB_HOST=database
DB_DATABASE=sitemanager
DB_USER=login
DB_PASSWORD=pass
DB_ROOT_PASSWORD=secret

# Если задана, допустимы только 0 или 1. При 1 обязательна MAILPIT_HOST
# (контейнер mailpit обязательно нужен)
MAILPIT_ENABLED=0
MAILPIT_HOST=mailpit:1025

# Если установить значение 1, то файл cron_events.php будет выполняться раз в минуту
# Обязательна; допустимые значения: 0 или 1
BITRIX_CRON_ENABLED=0
